@media (min-width: 975px){
  .main-shorten{
      .main-shorten_container {
        div {
          button {
            margin-top: 0px;
            margin-left: 20px;
          }
        }
      }
  }
}
@media (min-width: 1355px){
  body{
    .section-Principal{
      height: 93vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}