@media (min-width: 975px){
  .main-shorten{
      .main-shorten_container {
        div {
          button {
            margin-top: 0px;
            margin-left: 20px;
          }
        }
      }
  }
}
@media (min-width: 1355px){
  body{
    .section-Principal{
      height: 93vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (min-width: 800px){
header {
  nav {
    display: flex;
    .nav-main_menu {
      display: flex;
      justify-content: space-around;
      i {
        display: none;
      }
      img{
        max-height: 25px;
        margin-top: 11.3px;
      }
    }
    .nav-menuContainer {
      margin-left: 15px;
    }

    .nav-menu {
      background: none;
      padding:0px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: initial;
      max-width: 100%;
      div {
        flex-direction: row;
        a {
          margin-bottom: 0px;
          margin-inline: 10px;
          color: $clr-black;
        }
      }

      .nav-menu_login {
        padding-top: 0px;
        border-top: none;
        max-width: 100%;
        margin:0;
        .nav-menu_SingUp{
          color:$clr-white;
        }
      }
    }
  }
}

.displayNone {
  display: flex;
}
}