* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font,
footer .footer-cards_container,
main,
header nav .nav-menu div a,
header {
  font-family: "Roboto", sans-serif;
}

header {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}
header nav {
  margin-block: 20px;
}
header nav .nav-main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header nav .nav-main_menu i {
  font-size: 25px;
  color: #777;
  cursor: pointer;
}
header nav .nav-main_menu img {
  width: 80px;
}
header nav .nav-menuContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header nav .nav-menu {
  background: #3a3053;
  padding: 30px 30px;
  width: 80%;
  border-radius: 20px;
  position: absolute;
  top: 70px;
  max-width: 400px;
}
header nav .nav-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header nav .nav-menu div a {
  margin-bottom: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}
header nav .nav-menu .nav-menu_login {
  padding-top: 20px;
  border-top: 1px solid #fff;
  max-width: 260px;
  margin: 0 auto;
}
header nav .nav-menu .nav-menu_login .nav-menu_SingUp {
  background: #2bd1d1;
  width: 80%;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}

.displayNone {
  display: none;
}

.buttonStyleClass,
.main-url_container div button:hover,
.main-boots div button:active,
.main-boots div button:hover,
.main-shorten .main-shorten_container div button:active,
.main-shorten .main-shorten_container div button:hover,
main .main-fistPart button:active,
main .main-fistPart button:hover {
  background: #3a3053;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

main .section-Principal {
  height: 100%;
  max-height: auto;
}
main .main-fistPart {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1100px;
}
main .main-fistPart img {
  width: 100%;
  max-width: 600px;
  margin-block: 25px;
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.main-secondPart {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
main .main-fistPart h1 {
  font-size: 2.1rem;
}
main .main-fistPart p {
  margin-top: 25px;
  font-size: 1rem;
  color: #777;
  line-height: 23px;
  max-width: 500px;
  width: 80%;
  margin: 25px auto;
}
main .main-fistPart button {
  background: #2bd1d1;
  color: #fff;
  border: none;
  width: 150px;
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 15px;
  margin-top: 25px;
  cursor: pointer;
}
.main-shorten {
  width: 80%;
  min-height: 200px;
  height: auto;
  margin: 0 auto;
  max-width: 1005px;
}
.main-shorten .main-shorten_container {
  margin-top: 80px;
  background: #3a3053;
  border-radius: 10px;
}
.main-shorten .main-shorten_container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-shorten .main-shorten_container div input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 8px 10px;
  width: 100%;
  max-width: 650px;
}
.main-shorten .main-shorten_container div button {
  margin-top: 10px;
  background: #2bd1d1;
  border: none;
  font-size: 1.2rem;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  max-width: 250px;
  cursor: pointer;
}
.main-statics {
  padding: 50px 0px 25px 0px;
  background: #f0f1f6;
  text-align: center;
}
.main-statics h2 {
  font-size: 1.6rem;
  margin-bottom: 25px;
}
.main-statics p {
  font-size: 1rem;
  padding-inline: 10px;
  line-height: 25px;
  color: #777;
}
.main-statics .main-statics_cards {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-statics .main-statics_cards div {
  margin: 25px 15px;
  width: 80%;
  max-width: 450px;
  background: #fff;
  padding: 0px 15px 25px 15px;
  border-radius: 10px;
}
.main-statics .main-statics_cards div img {
  background: #3a3053;
  padding: 10px;
  border-radius: 50px;
  position: relative;
  top: -25px;
}
.main-statics .main-statics_cards div h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.main-statics .main-statics_cards div p {
  font-size: 1.2rem;
}

.main-boots {
  background: #3a3053;
  width: 100%;
  height: 30vh;
}
.main-boots div {
  background: url(https://images.vexels.com/media/users/3/208473/isolated/preview/be23697f110c07117197e0697d7ecdf3-piso-peque-ntilde-o-coche-gris-by-vexels.png);
  background-size: cover;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-boots div h4 {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.main-boots div button {
  background: #2bd1d1;
  color: #fff;
  border: none;
  width: 150px;
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 15px;
  margin-top: 25px;
  cursor: pointer;
}
.main-button_url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-button_url .button-loader {
  width: 40px;
}
.main-button_url .button-loader span {
  padding-top: 2px;
  display: block;
}

.main-url_container {
  background: #fff;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-block: 10px;
  border-radius: 5px;
  border: 1px solid #777;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-url_container .url-container_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#urlCopy {
  font-size: 1rem;
  padding: 6px;
}
.main-url_container .origin-Url {
  width: 60%;
}
.main-url_container div a {
  text-decoration: none;
  color: #2bd1d1;
}
.main-url_container div a:hover {
  color: #000;
}
.main-url_container div button {
  background: #2bd1d1;
  color: #fff;
  border: none;
  width: 130px;
  font-size: 1.3rem;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 15px;
}
footer {
  background: #323232;
  padding-top: 50px;
  text-align: center;
}
footer img {
  -webkit-filter: invert(1);
  filter: invert(1);
  margin-bottom: 25px;
}
footer .footer-cards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer .footer-cards_container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 200px;
  width: 80%;
  max-width: 300px;
  margin-bottom: 30px;
}
footer .footer-cards_container div h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
footer .footer-cards_container div a {
  text-decoration: none;
  color: #f0f1f6;
  margin-bottom: 15px;
  font-size: 1.2rem;
}
footer .footer-cards_container div a:hover {
  color: #2bd1d1;
}
footer .footer-cards_container div a:active {
  color: #2bd1d1;
}

.footer-social {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 50px;
}
.footer-social a {
  margin-inline: 10px;
}
.footer-social a svg:hover {
  -webkit-filter: invert(0.4);
  filter: invert(0.4);
}
.footer-social a svg:active {
  color: #2bd1d1;
}

@media (min-width: 975px) {
  .main-shorten .main-shorten_container div button {
    margin-top: 0px;
    margin-left: 20px;
  }
}
@media (min-width: 1355px) {
  body .section-Principal {
    min-height: 93vh;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (min-width: 800px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .nav-main_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  header nav .nav-main_menu i {
    display: none;
  }
  header nav .nav-main_menu img {
    max-height: 25px;
    margin-top: 11.3px;
  }
  header nav .nav-menuContainer {
    margin-left: 15px;
  }
  header nav .nav-menu {
    background: none;
    padding: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: initial;
    max-width: 100%;
  }
  header nav .nav-menu div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  header nav .nav-menu div a {
    margin-bottom: 0px;
    margin-inline: 10px;
    color: #000;
  }
  header nav .nav-menu div a:hover {
    color: #2bd1d1;
  }
  header nav .nav-menu .nav-menu_login {
    padding-top: 0px;
    border-top: none;
    max-width: 100%;
    margin: 0;
  }
  header nav .nav-menu .nav-menu_login .nav-menu_SingUp {
    color: #fff;
  }
  header nav .nav-menu .nav-menu_login .nav-menu_SingUp:hover {
    background: #3a3053;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .displayNone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 1187px) {
  .main-button_url {
    margin-top: 10px !important;
  }
}

/* Spinner Styles */

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 29px;
  top: -13px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 5px;
  padding: 0px !important;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 20px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 44px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 34px;
  }
  50%,
  100% {
    top: 24px;
    height: 10px;
  }
}
